<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SonicRetro.KensSharp.Comp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <userSettings>
    <SonicRetro.KensSharp.Comp.Properties.Settings>
      <setting name="Format" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SizeParameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EndiannessParameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SourceFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SizeParameterHex" serializeAs="String">
        <value>False</value>
      </setting>
    </SonicRetro.KensSharp.Comp.Properties.Settings>
  </userSettings>
</configuration>
